//imports
@import './variables.scss';

.container{
    color: white;
}

.imgClass{
    height:"500px";
    width:"400px"
}


.listGroupCon{
    background-color: $primary-color;
}
.socialMediaIcons{

    height: 36px;
    width: 36px;
    margin: 5px;
}

