// @imports
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

// Variables 

    //Colors
$primary-color: #424240;
$ok-btn: rgba(140,198,63,1);
$caution-btn: rgba(217,224,33,1);
$warning-btn: rgba(237,28,36,1);
$alert-btn: rgba(247,147,30,1);

        //Faded
$ok-btn-faded: rgba(140,198,63,.5);
$caution-btn-faded: rgba(217,224,33,.5);
$warning-btn-faded: rgba(237,28,36,.5);
$alert-btn-faded: rgba(247,147,30,.5);

    // Fonts
$righteous: 'Righteous'